{% load i18n %}
{% comment %}requires "objects" (last N albums){% endcomment %}
<span class="djangoogle">
  <span class="bubble">
    <span class="list">
      <table class="horizontal">
        <tr class="bubble_title"><td>{% trans "Latest albums" %}</td></tr>
        <tr>
          <td class="bubble_contents">
          {% if objects %}
          {% for obj in objects %}
          {% with 80 as thumbheight %}<!-- hardcoded widthxheight for thumbs -->
            <table class="album_preview">
              <tr>
                <td class="thumbnail">
                  <a href="{% url picasaweb-view-album obj.parent.id obj.id %}" title="{% trans 'Click here to launch a slideshow of this album' %}"><img width="{% widthratio thumbheight obj.thumbnail.height obj.thumbnail.width %}" height="{{ thumbheight }}" src="{{ obj.thumbnail.url }}"/></a>
                </td>
                <td>
                  <div class="album_title"><a href="{{ entry.web_url }}"><img class="picasaweb-logo" src="{{ MEDIA_URL }}djangoogle/img/picasaweb.gif" title="{% trans 'Click here to view this album directly inside PicasaWeb' %}" alt="{% trans 'PicasaWeb' %}" width="13" height="13"></a> {{ obj.title|truncatewords:"5" }}</div>
                  <div class="comment">{% blocktrans count obj.numphotos as counter %}{{ counter }} photo by{% plural %}{{ counter }} photos by{% endblocktrans %} <a href="{% url picasaweb-user-view obj.parent.id %}">{{ obj.nickname|lower }}</a>, {% trans "updated" %} {{ obj.updated|date:"D, j/M/Y" }}</div>
                </td>
              </tr>
            </table><!-- ends class="albumpreview" -->
          {% endwith %}
          {% endfor %}
          {% else %}
            <table>
              <tr>
                <td><div class="comment">{% trans "Cannot connect to PicasaWeb service at" %}<br/>{% now "H:i j/M/Y" %}</div></td>
              </tr>
            </table>
          {% endif %}
          </td><!-- ends class="bubble_contents" -->
        </tr>
      </table>
    </span><!-- ends class="horizontal list" -->
  </span><!-- ends class="bubble" -->
</span><!-- ends class="djangoogle" -->
