{% load i18n %}
{% comment %}requires "objects" (last N albums){% endcomment %}
{% if objects %}
<span class="djangoogle">
  <span class="bubble">
    <span class="list">
      <table class="horizontal">
        <tr class="bubble_title"><td colspan="{{ objects|length }}">{% trans "Latest albums" %}</td></tr>
        <tr>
          {% for obj in objects %}
          <td class="bubble_contents {% cycle "even" "odd" %}">
            <table class="preview">
              <tr>
                <td class="thumbnail">
                  <a href="{% url picasaweb-view-album obj.parent.id obj.id %}" title="{% trans 'Click here to launch a slideshow of this album' %}"><img width="{% widthratio thumb_height obj.thumbnail.height obj.thumbnail.width %}" height="{{ thumb_height }}" src="{{ obj.thumbnail.url }}"/></a>
                </td>
                <td>
                  <div class="object_title"><a href="{{ obj.web_url }}"><img class="picasaweb-logo" src="{% url media "djangoogle/img/picasaweb.gif" %}" title="{% trans 'Click here to view this album directly inside PicasaWeb' %}" alt="{% trans 'PicasaWeb' %}" width="13" height="13"/></a> {{ obj.title|truncatewords:"5" }}</div>
                  <div class="comment">{% blocktrans count obj.numphotos as counter %}{{ counter }} photo by{% plural %}{{ counter }} photos by{% endblocktrans %} <a href="{% url picasaweb-user-view obj.parent.id %}">{{ obj.nickname|lower }}</a>, {% trans "updated" %} {{ obj.updated|date:"D, j/M/Y" }}</div>
                </td>
              </tr>
            </table><!-- ends class="preview" -->
          </td><!-- ends class="bubble_contents" -->
          {% endfor %}
        </tr>
      </table>
    </span><!-- ends class="horizontal list" -->
  </span><!-- ends class="bubble" -->
</span><!-- ends class="djangoogle" -->
{% endif %}
