{% extends "base.html" %}

{% load staticfiles i18n %}
{% load djangoogle_filters %}

{% block title %}{% trans "Video Gallery" %} :: {{ object.title }}{% endblock %}

{% block media %} <!-- extends the current media block -->
{{ block.super }}
<link href="{% static "djangoogle/css/djangoogle.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}

<div class="djangoogle">
<div class="youtube">

<p class="title">{{ object.title }}</p>

{% if object %}
<div class="video">
{{ object.flash_player_html|safe }}
</div>

<h2>{% trans "Video details" %}</h2>
{% if object.description %}<p>{% trans "Description" %}: {{ object.description }}</p>{% endif %}
<p>{% trans "Uploaded by" %}: {{ object.author }}</p>
<p class="date">{% trans "Published" %}: {{ object.published|date:"j/M/Y" }}</p>
<p>{% trans "Duration" %}: {{ object.duration }} {% trans "seconds" %}</p>

{% else %}
<p class="preamble">{% trans "Cannot connect to YouTube service at" %} {% now "H:i j/M/Y" %}</p>

{% endif %}

</div><!-- ends "youtube" div --> 
</div><!-- ends "djangoogle" div -->

{% endblock %}
