td.bubble_contents {
  /** border: 1px blue solid; **/
  vertical-align: top;
}

.preview {
  /** border: 1px red solid; **/
  padding: 0.2em;
  height: 100%;
}

.preview img.thumbnail {
  background-color: white;
  border: solid #ccc 1px;
  padding: 0.2em;
  -moz-border-radius: 0.3em; 
  -khtml-border-radius: 0.3em; 
  border-radius: 0.3em; 
  float: right;
  margin: 0.3em;
}

.preview {
  font-family: arial, helvetica, sans;
  vertical-align: top;
}

.preview .object_title {
  text-align: left;
  font-weight: bold;
}

.preview .comment {
  font-size: 0.7em;
  color: #555;
}
