@import url('djangoogle.css');

table.last-album {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table.last-album tr.thumbnail {
  text-align: center;
}

table.last-album tr.caption {
  font-size: 1.1em;
  font-weight: bold;
  background: #ffc;
  padding: 0.2em;
  border: solid #cca 1px;
  -moz-border-radius: 0.3em; 
  -khtml-border-radius: 0.3em; 
  border-radius: 0.3em; 
}

table.last-album tr.comment {
  font-size: 0.9em;
  font-style: italic;
  padding: 0.2em;
  text-align: center;
}

