@import url('djangoogle.css');

table.entry {
  text-align: center;
  display: inline-block;
  height: 360px;
}

table.entry tr, table.entry td {
  width: 200px;
}

table.entry tr.title td {
  font-weight: bold;
  color: black
}

table.entry tr.details td {
  font-size: 0.8em;
  font-style: italic;
}

div.video {
  padding: 1.5em;
}

